.container {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.dice-1 {
   width: 200px;
    height: 200px;
    background-color: black;
    border: 40px;
    border-radius: 50px;
    position: relative;
    margin-top: 10px;
    margin-right: 10px;
}

.dot {
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 60%;
    position: absolute;
    top: 40%;
    right: 40%;
}

.dice-2 {
    width: 200px;
    height: 200px;
    background-color: black;
    border: 40px;
    border-radius: 50px;
    margin-top: 10px;
    position: relative;
    display: inline-block;
    margin-right: 10px;

}

.dot-2 {
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 60%;
    position: absolute;

    top: 20px;
    left: 20px;
}

.dot-3 {
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 60%;
    bottom: 30px;
    right: 30px;
    position: absolute;

}

.dice-3 {
    width: 200px;
    height: 200px;
    background-color: black;
    border: 40px;
    border-radius: 50px;
    position: relative;
    margin-top: 10px;
    margin-right: 5px;
}

.dot-4 {
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 60%;
    top: 20px;
    left: 20px;
    position: absolute;
}

.dot-5 {
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 60%;
    position: absolute;
    top: 40%;
    left: 36%;

}

.dot-6 {
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 60%;
    position: absolute;
    bottom: 30px;
    right: 30px;
}

.container-2 {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.dice-4 {
    width: 200px;
    height: 200px;
    background-color: black;
    border: 40px;
    border-radius: 50px;
    position: relative;
    margin-top: 10px;
    margin-left: 30px;


}

.dot-7 {
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 60%;
    position: absolute;
    top: 30px;
    left: 30px;
}

.dot-8 {
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 60%;
    position: absolute;
    bottom: 30px;
    left: 30px;
}

.dot-9 {
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 60%;
    position: absolute;
    top: 30px;
    right: 30px;
}

.dot-10 {
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 60%;
    position: absolute;
    bottom: 30px;
    right: 30px;
}

.dice-5 {
    width: 200px;
    height: 200px;
    background-color: black;
    border: 40px;
    border-radius: 50px;
    position: relative;
    margin-top: 10px;
    margin-left: 0px;
    margin-right: 3px;
}

.dot-11 {
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 60%;
    position: absolute;
    top: 20px;
    left: 20px;
}

.dot-12 {
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 60%;
    position: absolute;
    top: 20px;
    right: 20px;
}

.dot-13 {
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 60%;
    position: absolute;
    top: 80px;
    right: 80px;
}

.dot-14 {
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 60%;
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.dot-15 {
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 60%;
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.dice-6 {
    width: 200px;
    height: 200px;
    background-color: black;
    border: 40px;
    border-radius: 50px;
    position: relative;
    margin-top: 10px;
    margin-right: 25px;
}

.dot-16 {
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 60%;
    position: absolute;
    top: 20px;
    left: 20px;
}

.dot-17 {
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 60%;
    position: absolute;
    top: 20px;
    right: 20px;
}

.dot-18 {
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 60%;
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.dot-19 {
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 60%;
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.dot-20 {
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 60%;
    position: absolute;
    top: 80px;
    left: 20px;
}

.dot-21 {
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 60%;
    position: absolute;
    bottom: 80px;
    right: 20px;
}